*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.form{
    width: 100%;
    height: 100%;
    padding: 50px;
    text-align: center;
    justify-content: center;
}

h3{
    margin-bottom: 20px;
    color: #333;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}

.npword{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-top: 20px;
    text-align: center;
}

.cpword{
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-top: 2px;
    text-align: center;
}

.buttons{
    margin-top: 120px;
    margin-left: 115px;
}

.login{
    text-decoration: none;
    color: white;
    background-color: #1877f2;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}